<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Banco" value="caminho.fdb"/>
    <add key="Servidor" value="127.0.0.1"/>
    <add key="Porta" value="3050"/>
    <add key="Usuario" value=""/>
    <add key="Senha" value=""/>
    <add key="CreditoSomarValorParcela" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=4.6.1" />
  </startup>
</configuration>